#item{
    width: 100px;
    height: 160px;
    background-color: bisque;
    border-block-color: black;
    border: 5px solid cornsilk;
    box-shadow: coral;
    border-radius: 15px;
    margin: 20px 30px;
    float: left;
    text-align: center;
    cursor: pointer;
}

#itemWithSelect{
    width: 100px;
    height: 160px;
    background-color: green;
    border-block-color: black;
    border: 5px solid cornsilk;
    box-shadow: coral;
    border-radius: 15px;
    margin: 20px 30px;
    float: left;
    text-align: center;
    cursor: pointer;
}

.shake:hover {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	border: 5px solid thistle !important;
    box-shadow: coral;
}
@keyframes shake {
	10%, 90% {
		transform: translate3d(-2px, 0, 0);
	}
	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
		transform: translate3d(-3px, 0, 0);
	}
	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}